.neighborhood-font {
  color: grey;
}

.neighborhood-header {
  color: black;
  font-size: 16px;
}

#header-font {
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
  color: #C52D2F;
}

#partner {
    background-image: url("https://j.gifs.com/nZPDPE.gif");
    background-color: #cccccc;
    margin-top: 0px;
    margin-bottom: 50px;
}