.neighborhood-font {
  color: black;
  margin-left: 60px;
}

.neighborhood-header {
  color: #C52D2F;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

#header-font {
  font-family: "Brush Script MT", cursive;
  font-size: 90px;
  font-weight: 100;
  color: #C52D2F;
}

#navbar-input {
  margin-top: 10px;
  background-color: #fff;
  font-size: 15px;
  margin-left: 150px;
  padding: 0 11px 0 13px;
  width: 400px;
  align-items: center;
  vertical-align: center;
}

#navbar-nav {
  margin-top: 0px;
}

#navbutton {
  margin-right: 320px;
}

#pac-input:focus {
  border-color: #4d90fe;
}*/


#partner {
    background-image: url("https://j.gifs.com/nZPDPE.gif");
    background-color: #cccccc;
    margin-top: 0px;
    margin-bottom: 50px;
}

/*neighborhood reviews */

.reviews-heading {
  text-align: center;
}

.review-container {
  border: 1px solid grey;
  margin-bottom: 18px;
}

.category-review {
  font-size: 12px;
}

.review-body {
  display: flex;
  padding: 15px;
}

.review-text {
  margin-left: 35px;
}

.vote_count {
  display: flex;
  align-items: center;
}

.review-header {
  background-color: #C52D2F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbdown-button, .thumbup-button {
  background-color: white;
  border-radius: 50%;
}

.thumbup-button {
  margin-left: 7px;
  color: green;
}

.thumbdown-button {
  color: #C52D2F;
}

.review-votes {
  display: flex;
}

/* Loading page */
.loading-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.loading-page-text {
  font-size: 24px;
  margin: 50px auto;
  text-align: center;
  color: #C52D2F;
}
